.register{
   height: calc(100vh - 50px); 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: 
   linear-gradient(
    /* this makes background more transparent */
    rgba(255,255,255,0.5), 
    rgba(255,255,255,0.5)
    ), 
     url('../../assets/mountains-bg.jpg');
    background-size: cover;
}

.registerTitle{
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 600;
}

.registerForm{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    width: 200px;
    gap: 20px;
    border-radius: 10px;
}

.registerForm > label{
    margin: 10px 0;
}

.registerForm > span{
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
}


.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-bottom: 1px solid grey;
}

.registerButton{
    margin-top: 5px;
    cursor: pointer;
    background-color: #00acee;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerButton:hover{
    background-color: #0193cd;
}

.registerErr{
    color: red;
    margin-top: 10px;

}