.singlePost{
    border: 1px solid lightslategray;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.singlePostWrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.singlePostEdit{
    float: right;
    font-size: 16px;

}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}

.singlePostIcon:last-child{
    color: tomato;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;
    font-family: 'Varela Round', sans-serif;
}

.singlePostDesc{
    color: #555;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescInput{
    border: none;
    color: #555;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDescInput:focus{
    outline: none ;
}

.singlePostButton{
    width: 100px;
    border: none;
    background-color: #00acee;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin: 20px ;
}

.singlePostButton:hover{
    background-color: #0190c9;
}
